.head-salamanca {
    text-align: center;
    font-family: cursive;
    color: red;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    position: relative;
    top: 70px;
    height: 200px;
    animation-name: updown;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

body {
    background-color: #08a5aa;
}

header {
    background: #1a565e;
    background: radial-gradient(circle, rgba(26, 86, 94, 1) 0%, rgba(18, 135, 69, 1) 92%);
    border-radius: 10%;


}

.rule {
    text-align: center;
    text-align: center;
    font-family: cursive;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    position: relative;
    top: 70px;
    height: 200px;
    background: #b09120;
    background: linear-gradient(90deg, rgba(176, 145, 32, 1) 3%, rgba(45, 138, 30, 1) 52%, rgba(0, 212, 255, 1) 90%);
    border-radius: 10%;
}

span {
    font-weight: 900;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.rule-p {
    position: relative;
    top: -20px;
}

@media only screen and (min-width: 560px) {
    .head-salamanca {
        font-size: 600%;
        position: relative;
        top: px;
    }

    .rule-p {
        font-size: 200%;
        position: relative;
        top: 20px;
    }

    .rule {
        height: 400px;

    }

    header {
        position: relative;

        height: 280px;
    }
}

@keyframes updown {
    0% {
        top: 70px;
    }

    25% {
        top: 50px;
    }

    75% {
        top: 90px;
    }

    100% {
        top: 70px;
    }

}